<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Tutorial Web Chat</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="center">
			<h1>Spring Boot Tutorial</h1>
			<h2>Web Chat</h2>
		</div>
	</div>
	<div class="login">
		<div class="center">
			<h3>Web Chat login:</h3>
	        <form id="loginform" action="/webchat">
	        	<div class="row">
	            	<button id="login" type="submit">Login</button>
	            </div>
	        </form>
		</div>                
	</div>
</body>
</html>
