@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*, ::after, ::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color: lightcyan;

}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.header {
	overflow: hidden;
	width: 100%;
	height: 10%;
	padding: 10px;
	margin: 0px;
	background-color: lightblue;
	border: 2px solid black;
}

.center {
	margin: auto;
	text-align: center;
	width: 50%;
}

.login-page {
  width: 700px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: lightblue;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: lightblue;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .error {
	padding: 20px;
	color: red;
}

.form h1 {
	color: lightblue;
}

.form .message a {
  color: lightblue;
  text-decoration: none;
}
